---
const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Sergei Zaliubovskii. All rights reserved.
</footer>
<style>
  footer {
    padding: 25px;
    text-align: center;
  }
</style>
