---
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav class="navbar">
    <div class="flex-1">
      <HeaderLink class="btn btn-ghost normal-case text-xl" href="/"
        >Home</HeaderLink
      >
    </div>
    <div class="flex-none">
      <ul class="menu menu-horizontal p-0">
        <li>
          <HeaderLink href="/about">About</HeaderLink>
        </li>
        <li>
          <HeaderLink href="/blog">Blog</HeaderLink>
        </li>
      </ul>
    </div>
  </nav>
</header>
